* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
}

p {
  line-height: 1.5rem;
}

:root {
  --primary: #0070F3;
  --secondary: #7928CA;
}

header, footer {
  color: white;
  width: 100%;
  height: 90px;
  background-color: var(--primary);
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex: 1 1 0;
}

header h1{
  font-size: 25px;
}
ul > li {
  margin-left: 37px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: cyan;
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 65px auto;
}
.banner .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.banner .row .image{
  flex: 1 1 45rem;
  width: 100%;
  border-radius: 1%;
  text-align: center;
}
.banner .row .image img{
  width: 80%;
  border-radius: 1%;
}

.banner .row .banner-info {
  flex: 1 1 45rem;
  padding: 2rem;
  text-align: center;
  margin-left: 20px;
  flex: auto;
}

.banner-info h2 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-info p {
  margin: 36px 0;
}

.banner-info a {
  margin-left: 38px;
  color: var(--secondary);
  text-decoration: none;
}

.banner-info a:hover {
  text-decoration: none;
}

.banner-info button {
  background-color: var(--primary);
  color: white;
  width: 185px;
  height: 40px;
  border-color: transparent;
  border-radius: 13px;
}
.banner-info .CTA{
  text-align: center;
}
.banner-info button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

/* division */

.divider {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 2px;
  background-color: var(--primary);
}

/* division */

.details {
  max-width: 1200px;
  margin: 65px auto;
  padding: 3rem;
}

.details h3 {
  font-size: 24px;
  color: var(--primary);
}

.user-type {
  margin-top: 25px;
}

.type-name {
  color: var(--primary);
  font-weight: bold;
}

.type-description {
  margin-top: 5px;
}

footer .redes{
  padding:1rem 0;
}

footer .redes a {
  width: 2.5rem;
  font-size: 1.2rem;
  color: white;
  margin: .5rem;
}

@media (max-width: 1000px)
{
  html{
    font-size: 60%;
  }
  section, main{
    padding: 3rem;
  }
}
@media (max-width: 750px)
{
  header nav{
    visibility: hidden;
  }
  .banner .banner-info{
    text-align: center;
  }
}
@media (max-width:450px){

  html{
      font-size: 50%;
  }
}